
body{
background-color:#f4f4f4;
font-family: "Poppins", sans-serif;
line-height: 1.6;
}

.introduction h1 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}

img {
    border-radius: 50%;
    border-width: 2px;
    height: 10vw;
    align-self: center;
    border-color: bisque;
}

.introduction {
    padding: 40px;
    border: 10px, 2px solid #f4f4f4;
    border-radius: 50px;
    border-width: 2px;
    border-style: ridge;
    margin: 20px, 5vw, 1em;
    margin-bottom: -18px;
    margin-right: 450px;background-color: purple;
}

.introduction p {
    text-align:start;
    font-size: large;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: white;
    
}

.body {
    padding: 40px;
    border: 10px, 2px solid #f4f4f4;
    border-radius: 50px;
    border-width: 2px;
    border-style: ridge;
    margin: 20px, 5vw, 1em;
    margin-bottom: -186x;
    margin-right: 450px;
    margin-top: 28px;
    background-color: purple;
}

.body h2 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.body p {
    text-align:start;
    font-size: large;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: white;
}

.body ul {
    text-align:start;
    font-size: large;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    color: white;
}

.footer {
    padding: 40px;
    border: 10px, 2px solid #f4f4f4;
    border-radius: 50px;
    border-width: 2px;
    border-style: ridge;
    margin: 20px, 5vw, 1em;
    margin-bottom: -186x;
    margin-right: 450px;
    margin-top: 8px;
    background-color: purple;
}

.footer h3 {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    color: black;
}

.footer button {
    text-align: center;
    font-weight: medium;
    font-size: x-large;
    color: white;
    background-color: black;
    border-radius: 50px;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    margin: 10px;
}
 